{% extends 'base.html.twig' %}

{% block title %}Hello UserController!
{% endblock %}

{% block body %}
	<h1>Admins</h1>
	<ul>
		{% for u in users %}
			<li>{{ u.email }}</li>
		{% endfor %}
	</ul>
{% endblock %}
